html {
  background-color: #a7d0d8;
}

.big-text-color {
  color: #140923 ;
}

.custom-blue {
  background-color: #a7d0d8;
}
.reckless {
  font-family: 'Reckless Neue';
}

.custom-select option {
  color: black; /* Set the color of the options */
}
